extends ../core/dashboard-layout

block body
    #error
        if error
            div.alert.alert-danger
                p #{error}
    section#team.pb-5.col-12
        .container
            h5.section-title.h1 TODO
            .row
                for _todo in todo
                    .col-md-12.mt-3.row.border.rounded
                        .pt-2.pb-2.col-3
                            h3.text-primary #{_todo.title}
                            h5.text-info #{_todo.message}
                        .col-3.text-center
                            for employee in _todo.employees
                                h6.text-primary #{employee}
                        .col-3.text-center
                            for employee in _todo.employees_read
                                h4.text-primary #{employee.id}
                                h5.text-info #{employee.date}
                        .col-3.text-center
                            for employee in _todo.employees_read
                                h4.text-primary #{employee.id}
                                h5.text-info #{employee.date}
